*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;

}
.body1{
    width: 100%;
    height: 500px;
    display:flex;
    margin-top: 60px;
    justify-content: center;
    background-color: black;
}
.slider-container{
    position: relative;
    width: 800px;
    height: 450px;
    border: 3px solid #ede6d6;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    overflow: hidden;
}
.slider-container.slides{
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    
}
.slider-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;

}
.slider-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 150px;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 10px;
}
span.prev{
    left: 10px;
}
span.next:hover,span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
}
.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);

}
.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotsContainer .active{
    background-color: rgb(249, 243, 243);
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left:  -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left:  0%;
    }
}
@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left:  100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left:  0%;
    }
}
.n{
    color: aliceblue;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0%;
    font-size:150%;
    font-display: block;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 35px;
    
}
.img1 img{
    
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius:10px;
}
.img1 h1{
    padding-top: 8%;
    color: aliceblue;
    text-align: center;
}
.w{
    color: aliceblue;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size:150%;
    font-display: block;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 35px;
    
}
.m{
    color: aliceblue;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size:150%;
    font-display: block;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 35px;  
}
.img2 h1{
    padding-top: 8%;
    color: aliceblue;
    text-align: center;
}
.img2 img{
    
    width: 30%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius:10px;
}

.neela{
    color: aliceblue;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size:150%;
    font-display: block;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 35px;
    
}
.img3 img{
    
    width: 30%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius:10px;
}
.neela1{
    color: aliceblue;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size:150%;
    font-display: block;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 35px;
    
}
.img4 img{
    width: 30%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius:10px;
}
.img4 h1{
    padding-top: 8%;
    color: aliceblue;
    text-align: center;
}
.tea{
    color: aliceblue;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size:150%;
    font-display: block;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 35px;
}
.coffee{
    color: aliceblue;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size:150%;
    font-display: block;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 35px;
}
.coffee1{
    color: aliceblue;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size:150%;
    font-display: block;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 35px;
}


.don{
    text-decoration: none;
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:silver;
}



buttons{
    display: inline-block;
    background-color:transparent;
    color:black;
    border:0cqmax;
    cursor: pointer;
    padding:10px 20px;
    border-radius: 20px;
    font-size: 80px;
    font-family:myfont;
   
}
.ram{
            
    width: 300px;
    height:200px;
    border-radius:150px;
}


